# Byte-code files
*.pyc
__pycache__/

# IDE-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Nmap output files
nmap_*.txt

# Virtual environment
.venv/
env/
venv/
